
.date-search-wrapper
	width: 90%
	+flex(space-between)
	margin: 20px auto

	.date-btn
		width: 70px
		height: 20px
		border: 1px solid white 
		border-radius: 20px
		+standard()
		color: white
		font-size: 12px
		+flex(center)



.search-wrapper
	+flex(center)
	padding: 20px
	color: $light-blue
	font-size: 30px

	input 
		width: 70%
		background: transparent
		border-bottom: 1px solid $light-blue
		color: $light-blue
		padding-left: 20px
		margin-left: 20px
		

		&::-webkit-input-placeholder 
			color: $light-blue
			text-transform: uppercase
			letter-spacing: 5px