/* author Nisse Löfgren */


.pane
    .settings-wrapper
        width: 100%
        height: 100%
        
        .img-bg
            position: absolute
            top: -1%
            left: -1%
            width: 100%
            height: 100%
            background: pink
            z-index: -1
            img
                width: 102%
                height: 102%
                -webkit-filter: blur(10px)
        
        .settings-img
            position: relative
            width: 100%
            height: 52%
            overflow: hidden
            +flex(center)
            flex-direction: column
            
            
            .profile-avatar
                width: 170px
                height: 170px
                border-radius: 50%
                box-shadow: 0 2px 2px rgba(0,0,0,0.4)
                background: #000
                overflow: hidden
                +flex(center)
                img
                    width: 100%
                    height: 100%
                    
            .profile-info
                width: 100%
                +flex(center)
                flex-direction: column
                z-index: 2
                margin-top: 2%
                
                h2
                    +standard(22px)
                    color: #fff
                    margin: 0
                    padding: 0
                p
                    +standard(16px)
                    color: #fff
            

            
                

        .settings-text-box
            width: 100%
            height: 48%
            
            
            .settings-tab
                width: 100%
                height: 60px
                color: #fff
                +flex(space-around)
                padding: 0 15px
                box-sizing: border-box
                
            
                .settings-left, .settings-right
                    width: 40%
                    height: 100%
                    +standard(18px)
                    text-transform: capitalize
                    
                .settings-left
                    +flex(flex-start)    
                
                        
                .settings-right
                    +flex(flex-end)
                    
                select
                    background: transparent
                    border: none
                    +standard(18px)
                    text-transform: capitalize
                    color: #fff
                    -webkit-appearance: none

                i 
                    font-size: 16px
                    margin-left: 10px
                    
            hr
                width: 82%
                height: 1px
                margin: 0 auto
                padding: 0
                border: none
                background: rgba(255,255,255,0.6)


            .sign-out-btn
                width: 100%
                height: 60px
                +flex(center)
                +standard(22px)
                color: #fff




//
//
//.settings-wrapper
//	width: 100%
//	height: calc(100% - 125px)
//	display: flex 
//	flex-direction: column
//	justify-content: flex-end
//
//	.info-box-logged-in
//		+flex(space-between)
//		position: relative
//		+standard(14px)
//		color: white
//		width: 95%
//		height: 50%
//		padding: 0 20px
//		margin: 0 auto
//		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3)
//		border-top: 2px solid rgba(91,103,123,0.4)
//
//
//		.avatar
//			position: absolute
//			top: -150px
//			left: calc(50% - 100px)
//			width: 200px
//			height: 200px
//			border-radius: 50%
//			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3)
//			overflow: hidden
//
//			img 
//				max-width: 100%
//				height: auto
//
//		
//
//			.avatar-overlay
//				position: absolute
//				top: 0
//				left: 0
//				width: 100%
//				height: 100%
//				background: rgba(0,0,0,0.3)
//
//		
//		
//		.left-box
//			width: 45%
//			text-align: right
//			margin-top: 10%
//			
//
//		.right-box
//			width: 45%
//			text-align: left
//			margin-top: 10%
//
//
//			select
//				background: transparent
//				border: none
//				+standard(14px)
//				text-transform: uppercase
//				color: white
//				-webkit-appearance: none
//
//			i 
//				font-size: 16px
//			
//
//
//		span 
//			width: 1px 
//			height: 50%
//			background: rgba(91,103,123,0.4)
//			margin-top: 10%
//
//		ul 
//			li 
//				margin: 20px 0
//				text-transform: uppercase
//
//
//
//
//		@media (max-height: 570px)
//
//			.avatar
//				width: 150px
//				height: 150px
//				top: -120px
//				left: calc(50% - 75px)
//
//			ul 
//				li 
//					margin: 10px
//					font-size: 12px
//	    
//
//	.sign-out
//		width: 100%
//		height: 15%
//		+flex(center)
//		+title()
//		font-size: 24px
//		letter-spacing: 5px
//		color: white
//
//
//	.info-box-logged-out
//		display: flex 
//		justify-content: space-between 
//
//		position: relative
//		+standard(14px)
//		color: white
//		width: 95%
//		height: 84%
//		padding: 0 20px
//		margin: 0 auto
//		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3)
//		border-top: 2px solid rgba(91,103,123,0.4)
//		display: none
//
//		
//		.left-box
//			width: 45%
//			text-align: right
//			
//
//		.right-box
//			width: 45%
//			text-align: left
//			
//
//
//		span 
//			width: 1px 
//			height: 15%
//			background: rgba(91,103,123,0.4)
//			margin-top: 5%
//
//		ul 
//			li 
//				margin: 20px 0
//				text-transform: uppercase
//
//	.fb-btn
//		width: 100%
//		height: 13%
//		margin-top: 2%
//		+flex(center)
//		+standard(24px)
//		background: #3C5B98
//		color: white
//		display: none
//		
//
//
//
//
//
//
//
//	 