<div class="menubar">
	<a ng-href="#/">
		<div class="tab" ng-class=" (page === 'home') ? 'active' : ''">
			<i class="fa fa-list-ul"></i>
		</div>
	</a>
	<a ng-href="#/search">
		<div class="tab" ng-class=" (page === 'search') ? 'active' : ''">
			<i class="fa fa-search"></i>
		</div>
	</a>
	<a ng-href="#/favorites">
		<div class="tab" ng-class=" (page === 'favorites') ? 'active' : ''">
			<i class="fa fa-heart-o"></i>
		</div>
	</a>
	<a ng-href="#/settings">
		<div class="tab" ng-class=" (page === 'settings') ? 'active' : ''">
			<i class="fa fa-cog"></i>
		</div>
	</a>	
</div>