<!-- author Nisse Löfgren -->
<div class="topbar">
    <div class="menu-btn">
       <span class="first"></span>
       <span class="second"></span>
       <span class="third"></span>
    </div>
    
	<p style="font-size: 14px"> {{ location }}</p>
	
	<div class="topbar-icon-wrapper">
	    <div ng-show="page == 'home'"  ng-click="changeFeed()" class="thumb-icon"> <!-- Fixa så .item-wrapper = display: none och .thumb-wrapper = display: block -->
		<i class="fa fa-clone"></i>
	    </div>
	    <div class="search-icon">
	        <img src="img/icons/search.svg" alt="">
	    </div>
	    <input class="search-input" type="search" placeholder="Sök" ng-model="query" ng-focus="menuAction('hide')" ng-blur="menuAction('show')">
    </div>
</div>
<div class="side-menu">
   
<!-- Feed view  -->
    <a ng-href="#/">
        <div class="nav-tab" ng-class=" (page === 'home') ? 'active' : ''"> 
            <i class="fa fa-list"></i> 
            event
        </div>
    </a>
    
<!-- Favorites view  -->
    <a ng-href="#/favorites">
        <div class="nav-tab" ng-class=" (page === 'favorites') ? 'active' : ''">
            <i class="fa fa-heart"></i>
            Gillade
        </div>
    </a>
    
<!-- Categories view  -->
    <a ng-href="#/categorys">
        <div class="nav-tab" ng-class=" (page === 'categorys') ? 'active' : ''">
            <i class="fa fa-tags"></i>
            Kategori
        </div>
    </a>
    
<!-- Settings view  -->    
    <a ng-href="#/settings">
        <div class="nav-tab" ng-class=" (page === 'settings') ? 'active' : ''">
            <i class="fa fa-cogs"></i>
            inställningar
        </div>
    </a>
    
</div>
<div ng-init="init()"></div>