<topbar></topbar>
<div class="feed">
    
    <div class="categories-wrapper">
        
        <div class="category-box">
           <div class="box-img-wrapper">
                <img src="img/categories/music.jpg" alt="">
            </div>
            <p>Musik</p>
        </div>
        <div class="category-box">
          <div class="box-img-wrapper">
             <img src="img/categories/sport.jpg" alt="">
          </div>
          <p>Sport</p>
        </div>
        <div class="category-box">
              <div class="box-img-wrapper">
                 <img src="img/categories/film.jpg" alt="">
              </div>
              <p>Film</p>
        </div>
        <div class="category-box">
          <div class="box-img-wrapper">
             <img src="img/categories/kultur.jpg" alt="">
          </div>
          <p>Kultur</p>
        </div>
        <div class="category-box">
          <div class="box-img-wrapper">
             <img src="img/categories/uteliv.jpg" alt="">
          </div>
          <p>Uteliv</p>
        </div>
        <div class="category-box">
          <div class="box-img-wrapper">
             <img src="img/categories/marknad.jpg" alt="">
          </div>
          <p>Marknad</p>
        </div>
        <div class="category-box">
          <div class="box-img-wrapper">
             <img src="img/categories/lesson.jpg" alt="">
          </div>
          <p style="font-size: 24px">Föreläsning</p>
        </div>
        <div class="category-box" style="background: #000">    
            <p>Övrigt</p>
        </div>
        
        
    </div>
    
    
</div>