<topbar></topbar>

<div class="feed">
	
	<div class="info-box">
		<div class="company-title">{{ title }}</div>
		<div class="company-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum reiciendis ipsum veritatis iusto deleniti, distinctio eius perspiciatis cum delectus temporibus..</div>
		<span></span>
		<div class="company-details">
			<table>
				<tr>
					<td>Telefon:</td>
					<td>01234567</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>xxx@xxx.com</td>
				</tr>
				<tr>
					<td>Adress:</td>
					<td>gatanvägen <br>12345 karlshamn</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="back-btn"><span><img src="img/icons/chevLeft.svg"></span> tillbaka</div>

</div>


<navmenu></navmenu>