<div class="topbar">
	<p>vad händer</p><p style="font-size: 12px">karlshamn</p>
</div>

<h1 style="color: white">{{title}}</h1>


<div class="menubar">
	<a ng-href="#/">
		<div class="tab">
		
			<i class="fa fa-list-ul"></i>
	
		</div>
	</a>
	<a ng-href="#/search">
		<div class="tab">
		
			<i class="fa fa-search"></i>

		</div>
	</a>
	<a ng-href="#/favorites">
		<div class="tab active">
		
			<i class="fa fa-heart-o"></i>

		</div>
	</a>
	<a ng-href="#/settings">
		<div class="tab">
		
			<i class="fa fa-cog"></i>
	
		</div>
	</a>	
	
</div>