<topbar></topbar>

<div class="feed">
	<div class="item-wrapper">
		<div class="image-item">
			<img ng-src="{{info.img}}" on-double-tap="likePost($index)">

		</div>
		<div class="text-item">

			<div id="text-item-header">

				<div id="title">{{info.title| limitTo: 25 }}{{info.title.length>25 ?"...": ""}}</div>
				
				<div id="likes" ng-click="likePost($index)">
					<span ng-if="item.likes">{{info.likes}}</span>
					<i class="fa fa-heart-o" ng-class=" (feed[$index].likes > 0) ? 'active' : ''"></i> 
				</div>

			</div>
			<div id="desc">{{info.description}}</div>
			<div id="text-item-footer">
				
				<div id="place-desc"><a style="color: #35c8dc;" ng-href="#/company/{{info.company}}/{{page}}">{{info.company}}</a></div>
				<div id="date">{{info.date}}</div>

			</div>

		</div>
	</div>
</div>

<navmenu></navmenu>