<!-- author Nisse Löfgren -->
<topbar></topbar>

<div class="feed">

	<div class="event-card">
		<div class="card-img-wrapper">
			<img ng-src="{{info.img}}" on-double-tap="likePost($index)">

		</div>
		<div class="card-text-box">

			<div class="card-first-row">

				<div class="card-title">{{info.title| limitTo: 25 }}{{info.title.length>25 ?"...": ""}}</div>
				
				<div class="card-like" ng-click="likePost($index)">
					<span ng-if="info.likes">{{info.likes}}</span>
					<i class="fa fa-heart-o" ng-class=" (info.likes > 0) ? 'active' : ''"></i> 
				</div>

			</div>
			<div class="card-desc">{{info.description}}</div>
			 <div class="card-location-time-wrapp">
               <div class="card-location">
                   <div class="loc-icon">
                       <i class="fa fa-map-marker"></i>
                       </div>
                   <div class="loc-adress-wrapp">
                       <div class="loc-adress">Filipgatan 2</div>
                       <div class="loc-zip">37434  karlshamn</div>
                   </div>
               </div>
               <div class="card-time">
                  <div class="loc-icon">
                       <i class="fa fa-clock-o"></i>
                       </div>
                   <div class="loc-time-wrapp">
                       <div class="loc-date">{{item.date}}</div>
                       <div class="loc-time">18:00</div>
                   </div>
               </div>
           </div>
			<div class="card-company-name"><div class="card-company-name">
             <div class="company-name-town-wrapper">
                  <a ng-href="#/company/{{info.company}}/{{page}}">
                   {{info.company}}
                   </a>
                   <div class="event-town">
                       karlshamn
                   </div>
               </div>
               <div class="more-icon">
                   <img src="../img/icons/more-icon.svg" alt="">
               </div>
           </div>
           </div>

		</div>
	</div>
</div>