<!-- author Nisse Löfgren -->
<!--
<div class="modal-class">
    <span>
        <p>Dela event</p>
        <i class="fa fa-share"></i>
    </span>
    <span>
        <p>Anmäl</p>
        <i class="fa fa-flag"></i>
    </span>
</div>
-->

<topbar></topbar>


<div class="feed">
    
    <div  ng-hide="thumb" ng-repeat="item in feed" class="event-card">
          <div class="card-img-wrapper">
              
              <div class="card-company-name">
             <div class="company-name-town-wrapper">
                  <a ng-href="#/company/{{item.company}}/{{page}}">
                   {{item.company}}
                   </a>
                   <div class="event-town">
                       karlshamn
                   </div>
               </div>
               <div class="more-icon">
                   <img src="img/icons/more-icon.svg" alt="">
               </div>
           </div>
               <img ng-src="{{item.img}}" on-double-tap="likePost($index)">
           </div>
           
        
       <div class="card-text-box">
           <div class="card-first-row">
               <div class="card-title">
                   {{item.title| limitTo: 25 }}{{item.title.length>25 ?"...": ""}}
               </div>    
               <div class="card-like" ng-click="likePost($index)">
               <span ng-if="item.likes">{{item.likes}}</span>
               <i class="fa fa-heart-o" ng-class=" (feed[$index].likes > 0) ? 'active' : ''"></i>
               </div>
           </div>
           
           <div class="card-desc">
              {{item.description}}
           </div>
           
           <div class="card-location-time-wrapp">
               <div class="card-location">
                   <div class="loc-icon">
                       <i class="fa fa-map-marker"></i>
                       </div>
                   <div class="loc-adress-wrapp">
                       <div class="loc-adress">Filipgatan 2</div>
                       <div class="loc-zip">37434  karlshamn</div>
                   </div>
               </div>
               <div class="card-time">
                  <div class="loc-icon">
                       <i class="fa fa-clock-o"></i>
                       </div>
                   <div class="loc-time-wrapp">
                       <div class="loc-date">{{item.date}}</div>
                       <div class="loc-time">18:00</div>
                   </div>
               </div>
           </div>
           
       </div>
        
    </div>
    
    
	<div ng-show="thumb" class="thumb-wrapper">

		<div class="thumb-feed">
			
			<div ng-repeat="item in feed" class="img-thumb"><a ng-href="#/feeditem/{{item.title}}/{{page}}"><img ng-src="{{item.img}}"></a></div>

		</div>
	</div>
</div>
