<topbar></topbar>

<div class="feed">
	
	<div class="item-wrapper" ng-repeat="item in feed">
		<div class="image-item">
			<img ng-src="{{item.img}}">

		</div>
		<div class="text-item">

			<div id="text-item-header">


				<div id="title">title</div>
				<div id="likes"><span>12</span><i class="fa fa-heart-o"></i></div>

				<div id="title">{{item.title}}</div>
				<div id="likes"><span>{{item.likes}}</span><i class="fa fa-heart-o"></i></div>

				<div id="title">{{item.title}}</div>
				<div id="likes"><span>{{item.likes}}</span><i class="fa fa-heart-o"></i></div>


			</div>
			<div id="desc">{{item.description}}</div>
			<div id="text-item-footer">

				<div id="date">1-10-2015</div>
				<div id="place-desc">&Vin karlshamn</div>

				<div id="date">{{item.date}}</div>
				<div id="place-desc">{{item.company}}</div>

				<div id="date">{{item.date}}</div>
				<div id="place-desc">{{item.company}}</div>


			</div>

		</div>
	</div>

</div>

<navmenu></navmenu>