<div class="topbar">
	<p>vad händer</p><p style="font-size: 12px">karlshamn</p>
</div>


<div class="date-search-wrapper">
	<div class="date-btn date-active">idag</div>
	<div class="date-btn">3 dagar</div>
	<div class="date-btn">1 vecka</div>
	<div class="date-btn">1 månad</div>
</div>


<div class="search-wrapper">
	<i class="fa fa-search"></i>
	<input type="text" placeholder="Sök event...">
</div>

<ul>
	<li>
		<span></span>
		<div class="search-desc-wrapper">
			<div class="search-title">title</div>
			<div class="search-desc">company - karlshamn</div>
		</div>
		<div class="search-desc-date">1/10/2015</div>
	</li>
	<li>
		<span></span>
		<div class="search-desc-wrapper">
			<div class="search-title">title</div>
			<div class="search-desc">company - karlshamn</div>
		</div>
		<div class="search-desc-date">1/10/2015</div>
	</li>
	<li>
		<span></span>
		<div class="search-desc-wrapper">
			<div class="search-title">title</div>
			<div class="search-desc">company - karlshamn</div>
		</div>
		<div class="search-desc-date">1/10/2015</div>
	</li>
</ul>


<navmenu></navmenu>

