<!-- author Nisse Löfgren -->
<topbar></topbar>
<div ng-init="init()"></div>

    <div class="settings-wrapper">
<!--
      <div class="outlogged-bg">
          <img src="../img/settings-bg.jpg" alt="">
      </div>
      
      <div class="settings-content-text">
          
          <div class="settings-info-box">
              <h2>Facebook</h2>
              <hr>
              <p>Logga in med facebook för att kunna
gilla event, hitta dina gillade event 
och följa företag / organisationer</p>
          </div>
          
          <i>eller</i>
          
          <div class="outlogged-text-box">
            
            <div class="settings-tab">
                <div class="settings-left">stad</div>
                <div class="settings-right">
                    <select ng-if="locationServices">
				        <option value="{{ location }}"> {{ location }}</option>
					</select>
					<select ng-if="!locationServices">
				        <option ng-repeat="city in cities" value="{{ city }}"> {{ city }}</option>
					</select>
               </div>
            </div>
            
        
            <div class="settings-tab">
                 <div class="settings-left">Platstjänster</div>
                <div class="settings-right"><div class="slideThree">  
				    <input ng-if="locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check" checked/>
					<input ng-if="!locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check"/>
				    <label for="slideThree"></label>
				    </div></div>
            </div>
          </div>
          
          
      </div>
      
      <div class="fb-in-btn" ng-click="signOut()">
          <i class="fa fa-facebook"></i> Logga in med facebook
      </div>
-->
       
        <div class="img-bg">
               <img src="https://scontent-arn2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12143211_1107611825930529_3532220791307561522_n.jpg?oh=dee1f454004e7b2e82b8c64989a3cffc&oe=56F00D06" alt="">
            </div>
            
        <div class="settings-img">
          
            <div class="profile-avatar">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12143211_1107611825930529_3532220791307561522_n.jpg?oh=dee1f454004e7b2e82b8c64989a3cffc&oe=56F00D06" alt="">
            </div>
            <div class="profile-info">
                <h2>Pontus Johansson</h2>
                <p>Karlshamn</p>
            </div>
            
            
        </div>
        <div class="settings-text-box">
            
            <div class="settings-tab">
                <div class="settings-left">stad</div>
                <div class="settings-right">
                    <select ng-if="locationServices">
				        <option value="{{ location }}"> {{ location }}</option>
					</select>
					<select ng-if="!locationServices">
				        <option ng-repeat="city in cities" value="{{ city }}"> {{ city }}</option>
					</select><i class="fa fa-caret-down"></i></div>
            </div>
            
            <hr>
            
            <div class="settings-tab">
                 <div class="settings-left">Platstjänster</div>
                <div class="settings-right"><div class="slideThree">  
				    <input ng-if="locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check" checked/>
					<input ng-if="!locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check"/>
				    <label for="slideThree"></label>
				    </div></div>
            </div>
            
            <hr>
            
            <div class="settings-tab">
                  <div class="settings-left">Gillade events</div>
                <div class="settings-right">{{ likes }}</div>
            </div>
            
            
            <div class="sign-out-btn" ng-click="signOut()">
                <span>Logga ut</span>
            </div>
        </div>
    </div>


<!--

<div class="settings-wrapper">

	<div class="info-box-logged-in"> 

		<div class="avatar">
			<img src="img/avatar.png">   
			<div class="avatar-overlay"></div>
		</div>

		<div class="left-box">
			<ul>
				<li>stad</li>
				<li>platstjänster</li>
				<li>gillade events</li>
			</ul>
		</div>
		<span></span>
		<div class="right-box">
			<ul>
				<li> 
					<select ng-if="locationServices">
							<option value="{{ location }}"> {{ location }}</option>
					</select>
					<select ng-if="!locationServices">
							<option ng-repeat="city in cities" value="{{ city }}"> {{ city }}</option>
					</select><i class="fa fa-caret-down"></i>
				</li>
				<li><div class="slideThree">  
				    <input ng-if="locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check" checked/>
					<input ng-if="!locationServices" ng-click="setLocationService()" type="checkbox" id="slideThree" name="check"/>
				    <label for="slideThree"></label>
				    </div>
				</li>
				<li>{{ likes }}</li>
			</ul>
		</div>
		
	</div>


	<div class="sign-out" ng-click="signOut()">Logga ut</div>


	<div class="info-box-logged-out"> 

		<div class="left-box">
			<ul>
				<li>stad</li>
				<li>platstjänster</li>
			</ul>
		</div>
		<span></span>
		<div class="right-box">
			<ul>
				<li>{{ location }}</li>
				<li>
					<div class="slideThree">  
				    <input type="checkbox" value="None" id="slideThree" name="check" checked />
				    <label for="slideThree"></label>
				    </div>
				</li>
			</ul>
		</div>
		
	</div>
	
	<div class="fb-btn">Logga in med facebook</div> 

</div>-->
