@charset "UTF-8";
/* author Nisse Löfgren */
/* author Nisse Löfgren */
/* author Nisse Löfgren */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(tools/fontawesome/_font-awesome.min.css);
@font-face {
  font-family: "proxima";
  src: url("/css/tools/fonts/ProximaNova-Regular.otf") format("OpenType"); }

/* author Nisse Löfgren */
/* author Nisse Löfgren */
.menubar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  background-image: url("../img/menubar.png");
  background-size: cover;
  padding: 10px;
  border-top: 1px solid #313d56;
  color: white; }
  .menubar a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .menubar .tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    color: #5b677b; }
    .menubar .tab span {
      width: 30px;
      height: 30px;
      background-color: #5b677b;
      -webkit-mask-repeat: no-repeat; }
    .menubar .tab .feed-icon {
      -webkit-mask-image: url(../img/icons/feed.svg); }
    .menubar .tab .search-icon {
      -webkit-mask-image: url(../img/icons/search.svg); }
    .menubar .tab .favorites-icon {
      -webkit-mask-image: url(../img/icons/favorites.svg); }
    .menubar .tab .settings-icon {
      -webkit-mask-image: url(../img/icons/settings.svg); }
    .menubar .tab .active {
      background-color: #35c8dc; }

/* author Nisse Löfgren */
.topbar {
  width: 100%;
  height: 35px;
  background: #ececec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px; }
  .topbar .menu-btn {
    width: 20px;
    height: 15px;
    margin: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .topbar .topbar-icon-wrapper {
    padding: 0 10px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px; }
    .topbar .topbar-icon-wrapper .thumb-icon {
      margin-right: 30px; }
    .topbar .topbar-icon-wrapper .search-icon {
      width: 20px;
      height: 20px; }
      .topbar .topbar-icon-wrapper .search-icon img {
        width: 100%;
        height: 100%; }
    .topbar .topbar-icon-wrapper .search-input {
      border-radius: 4px;
      border: 1px solid #adadad;
      width: 120px;
      height: 25px;
      margin-left: 5px;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      display: none; }

.side-menu {
  position: fixed;
  left: -40%;
  top: 35px;
  width: 40%;
  height: 100%;
  background: rgba(236, 236, 236, 0.9);
  z-index: 99; }
  .side-menu .nav-tab {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #222222;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    text-transform: capitalize; }
  .side-menu .active {
    background: #ececec; }

/* author Nisse Löfgren */
/* .slideThree */
.slideThree {
  width: 60px;
  height: 16px;
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }
  .slideThree:after {
    content: 'AV';
    color: #000;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 0;
    font: 10px/14px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15); }
  .slideThree:before {
    content: 'PÅ';
    color: #35c8dc;
    position: absolute;
    left: 5px;
    top: 2px;
    z-index: 0;
    font: 10px/14px Arial, sans-serif;
    font-weight: bold; }
  .slideThree label {
    display: block;
    width: 35px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .slideThree input[type=checkbox] {
    visibility: hidden; }
    .slideThree input[type=checkbox]:checked + label {
      left: 25px; }

/* end .slideThree */
.first, .second, .third {
  width: 100%;
  height: 1px;
  background: #222222; }

.feed {
  width: 100%;
  height: 100%;
  overflow: scroll; }
  .feed .event-card {
    position: relative;
    width: 100%;
    height: 95vh;
    background: #000;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .feed .event-card .card-img-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 95vh; }
      .feed .event-card .card-img-wrapper img {
        width: 100%;
        height: 100%; }
    .feed .event-card .card-text-box {
      width: 100%;
      height: 200px;
      background: rgba(255, 255, 255, 0.95);
      z-index: 9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.4); }
      .feed .event-card .card-text-box .card-first-row {
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .feed .event-card .card-text-box .card-first-row .card-title {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 18px;
          text-transform: capitalize;
          padding: 5px 2px;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(34, 34, 34, 0.4); }
        .feed .event-card .card-text-box .card-first-row .card-like {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 28px; }
          .feed .event-card .card-text-box .card-first-row .card-like span {
            font-size: 16px; }
      .feed .event-card .card-text-box .card-desc {
        width: 100%;
        height: 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 14px; }
      .feed .event-card .card-text-box .card-location-time-wrapp {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 40px; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-location {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-icon {
            width: 30px;
            height: 30px;
            font-size: 25px; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp {
            height: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp .loc-adress {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 12px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp .loc-zip {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 10px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-time {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-icon {
            width: 30px;
            height: 30px;
            font-size: 25px; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp {
            height: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp .loc-date {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 12px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp .loc-time {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 10px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-time {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
      .feed .event-card .card-text-box .card-company-name {
        width: 100%;
        height: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .feed .event-card .card-text-box .card-company-name a {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 14px;
          text-transform: uppercase;
          color: #222222; }

.thumb-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .thumb-wrapper .week {
    width: 98%;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 12px;
    color: #35c8dc;
    text-transform: capitalize;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px; }
    .thumb-wrapper .week span {
      width: 100%;
      height: 1px;
      background: #35c8dc;
      margin-top: 5px; }
  .thumb-wrapper .thumb-feed {
    width: 98%;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .thumb-wrapper .thumb-feed .img-thumb {
      width: 32%;
      height: 150px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      margin-bottom: 2%; }
      .thumb-wrapper .thumb-feed .img-thumb img {
        width: 100%;
        height: 100%; }

/* author Nisse Löfgren */
.feed .date-search-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto; }
  .feed .date-search-wrapper .date-btn {
    width: 70px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 10px;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .feed .date-search-wrapper .date-active {
    background: rgba(255, 255, 255, 0.3); }

.feed .search-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  color: #5b677b;
  font-size: 30px; }
  .feed .search-wrapper input {
    width: 70%;
    background: transparent;
    border-bottom: 1px solid rgba(34, 34, 34, 0.4);
    color: #222222;
    color-font-family: 'proxima';
    color-font-weight: 300;
    color-font-size: 18px;
    padding-left: 20px;
    margin-left: 20px; }
    .feed .search-wrapper input::-webkit-input-placeholder {
      color: #222222;
      color-font-family: 'proxima';
      color-font-weight: 300;
      color-font-size: 18px;
      text-transform: capitalize; }

.feed ul {
  width: 98%;
  display: block;
  margin: 20px auto; }
  .feed ul li {
    position: relative;
    display: block;
    text-transform: capitalize;
    padding: 10px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
      display-flex-direction: row; }
    .feed ul li span {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: -webkit-radial-gradient(at center bottom, #2062cf, #0f3a82);
      background: radial-gradient(at center bottom, #2062cf, #0f3a82); }
    .feed ul li .search-title {
      font-family: 'proxima';
      font-weight: 300;
      font-size: 22px;
      color: #222222; }
    .feed ul li .search-desc {
      color: #222222; }
    .feed ul li .search-desc-date {
      color: #222222; }

.odd {
  background: #fff; }

.even {
  background: #white-bg; }

/* author Nisse Löfgren */
.bg-placeholder {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 30px;
  text-transform: capitalize;
  color: rgba(91, 103, 123, 0.6);
  line-height: 1.2; }

.delete-tab-open {
  background: -webkit-radial-gradient(at left center, #248ab9, #403f90);
  background: radial-gradient(at left center, #248ab9, #403f90);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all(700ms) ease-in-out;
  transition: all(700ms) ease-in-out;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3); }

.delete-tab-close {
  background: -webkit-radial-gradient(at left center, #248ab9, #403f90);
  background: radial-gradient(at left center, #248ab9, #403f90);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -45%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all(700ms) ease-in-out;
  transition: all(700ms) ease-in-out; }

/* author Nisse Löfgren */
.settings-wrapper {
  width: 100%;
  height: calc(100% - 125px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .settings-wrapper .info-box-logged-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 14px;
    color: white;
    width: 95%;
    height: 50%;
    padding: 0 20px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(91, 103, 123, 0.4); }
    .settings-wrapper .info-box-logged-in .avatar {
      position: absolute;
      top: -150px;
      left: calc(50% - 100px);
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      overflow: hidden; }
      .settings-wrapper .info-box-logged-in .avatar img {
        max-width: 100%;
        height: auto; }
      .settings-wrapper .info-box-logged-in .avatar .avatar-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); }
    .settings-wrapper .info-box-logged-in .left-box {
      width: 45%;
      text-align: right;
      margin-top: 10%; }
    .settings-wrapper .info-box-logged-in .right-box {
      width: 45%;
      text-align: left;
      margin-top: 10%; }
      .settings-wrapper .info-box-logged-in .right-box select {
        background: transparent;
        border: none;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        -webkit-appearance: none; }
      .settings-wrapper .info-box-logged-in .right-box i {
        font-size: 16px; }
    .settings-wrapper .info-box-logged-in span {
      width: 1px;
      height: 50%;
      background: rgba(91, 103, 123, 0.4);
      margin-top: 10%; }
    .settings-wrapper .info-box-logged-in ul li {
      margin: 20px 0;
      text-transform: uppercase; }
    @media (max-height: 570px) {
      .settings-wrapper .info-box-logged-in .avatar {
        width: 150px;
        height: 150px;
        top: -120px;
        left: calc(50% - 75px); }
      .settings-wrapper .info-box-logged-in ul li {
        margin: 10px;
        font-size: 12px; } }
  .settings-wrapper .sign-out {
    width: 100%;
    height: 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    color: white; }
  .settings-wrapper .info-box-logged-out {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 14px;
    color: white;
    width: 95%;
    height: 84%;
    padding: 0 20px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(91, 103, 123, 0.4);
    display: none; }
    .settings-wrapper .info-box-logged-out .left-box {
      width: 45%;
      text-align: right; }
    .settings-wrapper .info-box-logged-out .right-box {
      width: 45%;
      text-align: left; }
    .settings-wrapper .info-box-logged-out span {
      width: 1px;
      height: 15%;
      background: rgba(91, 103, 123, 0.4);
      margin-top: 5%; }
    .settings-wrapper .info-box-logged-out ul li {
      margin: 20px 0;
      text-transform: uppercase; }
  .settings-wrapper .fb-btn {
    width: 100%;
    height: 13%;
    margin-top: 2%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 24px;
    background: #3C5B98;
    color: white;
    display: none; }

/* author Nisse Löfgren */
.info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 14px;
  color: white;
  width: 95%;
  height: 84%;
  padding: 0 20px;
  margin: 10% auto;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(91, 103, 123, 0.4); }
  .info-box .company-title {
    font-family: 'proxima';
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .info-box .company-desc {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 14px; }
  .info-box span {
    position: relative;
    width: 80%;
    margin: 40px 0 20px;
    height: 1px;
    background: #5b677b; }
  .info-box .company-details {
    width: 80%;
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 14px; }
    .info-box .company-details table {
      width: 80%; }
      .info-box .company-details table tr {
        margin-bottom: 20px; }
        .info-box .company-details table tr td {
          margin-right: 10px; }
  @media (max-height: 600px) {
    .info-box .company-title {
      position: relative;
      top: 10%; }
    .info-box .company-desc {
      font-size: 12px;
      margin-top: 5%; }
    .info-box span {
      margin: 15px 0 5px; }
    .info-box .company-details {
      font-size: 12px; } }

.back-btn {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 5px;
  color: white; }
  .back-btn span {
    width: 10px;
    height: 10px;
    margin: -12px 20px 0; }
    .back-btn span img {
      width: 100%;
      height: auto; }

/* author Nisse Löfgren */
p {
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

.pane {
  background: #ececec; }

::-webkit-scrollbar {
  display: none; }
