@charset "UTF-8";
/* author Nisse Löfgren */
/* author Nisse Löfgren */
/* author Nisse Löfgren */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(tools/fontawesome/_font-awesome.min.css);
@font-face {
  font-family: "proxima";
  src: url("/css/tools/fonts/ProximaNova-Regular.otf") format("OpenType"); }

/* author Nisse Löfgren */
/* author Nisse Löfgren */
.menubar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  background-image: url("../img/menubar.png");
  background-size: cover;
  padding: 10px;
  border-top: 1px solid #313d56;
  color: white; }
  .menubar a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .menubar .tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    color: #5b677b; }
    .menubar .tab span {
      width: 30px;
      height: 30px;
      background-color: #5b677b;
      -webkit-mask-repeat: no-repeat; }
    .menubar .tab .feed-icon {
      -webkit-mask-image: url(../img/icons/feed.svg); }
    .menubar .tab .search-icon {
      -webkit-mask-image: url(../img/icons/search.svg); }
    .menubar .tab .favorites-icon {
      -webkit-mask-image: url(../img/icons/favorites.svg); }
    .menubar .tab .settings-icon {
      -webkit-mask-image: url(../img/icons/settings.svg); }
    .menubar .tab .active {
      background-color: #35c8dc; }

/* author Nisse Löfgren */
.topbar {
  width: 100%;
  height: 50px;
  background: #ececec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px; }
  .topbar .menu-btn {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 17px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .topbar .topbar-icon-wrapper {
    padding: 0 10px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px; }
    .topbar .topbar-icon-wrapper .thumb-icon {
      margin-right: 30px; }
      .topbar .topbar-icon-wrapper .thumb-icon i {
        font-size: 25px; }
    .topbar .topbar-icon-wrapper .search-icon {
      width: 25px;
      height: 25px; }
      .topbar .topbar-icon-wrapper .search-icon img {
        width: 100%;
        height: 100%; }
    .topbar .topbar-icon-wrapper .search-input {
      border-bottom: 1px solid #000;
      width: 100px;
      height: 25px;
      background: none;
      margin-left: 5px;
      -webkit-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      padding: 0 10px;
      display: none; }

.side-menu {
  position: fixed;
  left: -200px;
  top: 50px;
  width: 200px;
  height: 100%;
  background: #ececec;
  z-index: 99;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-right: 1px solid #c7c6c6; }
  .side-menu a {
    text-decoration: none;
    color: #222222; }
  .side-menu .nav-tab {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    text-transform: capitalize; }
    .side-menu .nav-tab i {
      color: #808080;
      margin-right: 20px;
      font-size: 16px; }
  .side-menu .active {
    background: #fff;
    color: #222222; }

/* author Nisse Löfgren */
/* .slideThree */
.slideThree {
  width: 60px;
  height: 16px;
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }
  .slideThree:after {
    content: 'AV';
    color: #fff;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 0;
    font: 10px/14px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15); }
  .slideThree:before {
    content: 'PÅ';
    color: #fff;
    position: absolute;
    left: 5px;
    top: 2px;
    z-index: 0;
    font: 10px/14px Arial, sans-serif;
    font-weight: bold; }
  .slideThree label {
    display: block;
    width: 35px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .slideThree input[type=checkbox] {
    visibility: hidden; }
    .slideThree input[type=checkbox]:checked + label {
      left: 25px; }

/* end .slideThree */
.first, .second, .third {
  width: 30px;
  height: 1px;
  background: #222222; }

.feed {
  width: 100%;
  height: calc(100% - 50px);
  overflow: scroll; }
  .feed .event-card {
    position: relative;
    width: 100%;
    height: 94vh;
    background: #000;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .feed .event-card .card-img-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 94vh; }
      .feed .event-card .card-img-wrapper img {
        width: 100%;
        height: 100%; }
    .feed .event-card .card-text-box {
      width: 100%;
      height: 200px;
      background: white;
      z-index: 9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.4); }
      .feed .event-card .card-text-box .card-first-row {
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .feed .event-card .card-text-box .card-first-row .card-title {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 18px;
          text-transform: capitalize;
          padding: 5px 2px;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(34, 34, 34, 0.4); }
        .feed .event-card .card-text-box .card-first-row .card-like {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 28px; }
          .feed .event-card .card-text-box .card-first-row .card-like span {
            font-size: 16px; }
      .feed .event-card .card-text-box .card-desc {
        width: 100%;
        height: 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 14px; }
      .feed .event-card .card-text-box .card-location-time-wrapp {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 40px; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-location {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-icon {
            width: 30px;
            height: 30px;
            font-size: 25px; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp {
            height: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp .loc-adress {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 12px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-location .loc-adress-wrapp .loc-zip {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 10px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-time {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-icon {
            width: 30px;
            height: 30px;
            font-size: 25px; }
          .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp {
            height: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp .loc-date {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 12px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
            .feed .event-card .card-text-box .card-location-time-wrapp .card-time .loc-time-wrapp .loc-time {
              width: 100%;
              height: 15px;
              font-family: 'proxima';
              font-weight: 300;
              font-size: 10px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                      justify-content: flex-start;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center; }
        .feed .event-card .card-text-box .card-location-time-wrapp .card-time {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
      .feed .event-card .card-text-box .card-company-name {
        width: 100%;
        height: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .feed .event-card .card-text-box .card-company-name a {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 14px;
          text-transform: uppercase;
          color: #222222; }

.thumb-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll; }
  .thumb-wrapper .thumb-feed {
    width: 98%;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .thumb-wrapper .thumb-feed .img-thumb {
      width: 32%;
      height: 150px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      margin-bottom: 2%; }
      .thumb-wrapper .thumb-feed .img-thumb img {
        width: 100%;
        height: 100%; }

ul {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }
  ul li a {
    position: relative;
    width: 100%;
    height: 80px;
    text-transform: capitalize;
    padding: 0 15px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2); }
    ul li a span {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background: hotpink; }
    ul li a .org-img {
      width: 20%;
      height: 95%;
      margin-right: 20px; }
      ul li a .org-img img {
        width: 100%;
        height: 100%; }
    ul li a .search-desc-wrapper {
      width: calc(55% - 20px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      ul li a .search-desc-wrapper .search-title {
        font-family: 'proxima';
        font-weight: 300;
        font-size: 18px;
        color: #222; }
      ul li a .search-desc-wrapper .search-desc {
        font-family: 'proxima';
        font-weight: 300;
        font-size: 12px;
        color: #222222; }
    ul li a .search-desc-date {
      font-family: 'proxima';
      font-weight: 300;
      font-size: 12px;
      color: #222222;
      width: 25%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      ul li a .search-desc-date i {
        margin-right: 10px; }

.odd {
  background: #fff; }

.even {
  background: #fff; }

/* author Nisse Löfgren */
.bg-placeholder {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 20px;
  color: #222222;
  line-height: 1.2; }
  .bg-placeholder .delete-tab-open {
    background: -webkit-radial-gradient(at left center, #248ab9, #403f90);
    background: radial-gradient(at left center, #248ab9, #403f90);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #222222;
    -webkit-transition: all(700ms) ease-in-out;
    transition: all(700ms) ease-in-out;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3); }
  .bg-placeholder .delete-tab-close {
    background: -webkit-radial-gradient(at left center, #248ab9, #403f90);
    background: radial-gradient(at left center, #248ab9, #403f90);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -45%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all(700ms) ease-in-out;
    transition: all(700ms) ease-in-out; }

/* author Nisse Löfgren */
.pane .settings-wrapper {
  width: 100%;
  height: 100%; }
  .pane .settings-wrapper .img-bg {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 100%;
    height: 60%;
    z-index: -1; }
    .pane .settings-wrapper .img-bg img {
      width: 102%;
      height: 102%;
      -webkit-filter: blur(10px); }
  .pane .settings-wrapper .settings-img {
    position: relative;
    width: 100%;
    height: 52%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .pane .settings-wrapper .settings-img .profile-avatar {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      background: #000;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .pane .settings-wrapper .settings-img .profile-avatar img {
        width: 100%;
        height: 100%; }
    .pane .settings-wrapper .settings-img .profile-info {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      z-index: 2;
      margin-top: 2%; }
      .pane .settings-wrapper .settings-img .profile-info h2 {
        font-family: 'proxima';
        font-weight: 300;
        font-size: 22px;
        color: #fff;
        margin: 0;
        padding: 0;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
      .pane .settings-wrapper .settings-img .profile-info p {
        font-family: 'proxima';
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .pane .settings-wrapper .settings-text-box {
    width: 100%;
    height: 48%;
    background: #fff;
    padding-top: 20px; }
    .pane .settings-wrapper .settings-text-box .settings-tab {
      width: 100%;
      height: 60px;
      color: #222222;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 15px;
      box-sizing: border-box; }
      .pane .settings-wrapper .settings-text-box .settings-tab .settings-left, .pane .settings-wrapper .settings-text-box .settings-tab .settings-right {
        width: 40%;
        height: 100%;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 18px;
        text-transform: capitalize; }
      .pane .settings-wrapper .settings-text-box .settings-tab .settings-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .pane .settings-wrapper .settings-text-box .settings-tab .settings-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .pane .settings-wrapper .settings-text-box .settings-tab select {
        background: transparent;
        border: none;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 18px;
        text-transform: capitalize;
        color: #222222;
        -webkit-appearance: none; }
      .pane .settings-wrapper .settings-text-box .settings-tab i {
        font-size: 16px;
        margin-left: 5px; }
    .pane .settings-wrapper .settings-text-box hr {
      width: 82%;
      height: 1px;
      margin: 0 auto;
      border: none;
      background: rgba(34, 34, 34, 0.3); }
    .pane .settings-wrapper .settings-text-box .sign-out-btn {
      position: absolute;
      width: 100%;
      height: 60px;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      bottom: 0;
      left: 0;
      font-family: 'proxima';
      font-weight: 300;
      font-size: 22px;
      color: #222222; }
      .pane .settings-wrapper .settings-text-box .sign-out-btn span {
        padding: 10px 40px;
        border: 1px solid #222222;
        border-radius: 5px; }
    @media screen and (max-height: 570px) {
      .pane .settings-wrapper .settings-text-box .settings-tab {
        height: 40px; }
        .pane .settings-wrapper .settings-text-box .settings-tab .settings-left, .pane .settings-wrapper .settings-text-box .settings-tab .settings-right {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 14px; }
        .pane .settings-wrapper .settings-text-box .settings-tab select {
          font-family: 'proxima';
          font-weight: 300;
          font-size: 14px; }
        .pane .settings-wrapper .settings-text-box .settings-tab i {
          font-size: 14px; } }
  @media screen and (max-height: 480px) {
    .pane .settings-wrapper .settings-text-box {
      padding-top: 0; } }

.settings-wrapper .outlogged-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: pink;
  z-index: -1; }
  .settings-wrapper .outlogged-bg img {
    width: 100%;
    height: 100%; }

.settings-wrapper .settings-content-text {
  width: 85%;
  height: calc(100% - 95px);
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .settings-wrapper .settings-content-text .settings-info-box {
    width: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .settings-wrapper .settings-content-text .settings-info-box h2 {
      font-family: 'proxima';
      font-weight: 300;
      font-size: 42px;
      color: #fff;
      margin: 0;
      padding: 0;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    .settings-wrapper .settings-content-text .settings-info-box hr {
      width: 88%;
      height: 1px;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      margin: 5px 0;
      padding: 0; }
    .settings-wrapper .settings-content-text .settings-info-box p {
      padding: 0 10px;
      font-family: 'proxima';
      font-weight: 300;
      font-size: 10px;
      color: #fff;
      text-align: center; }
  .settings-wrapper .settings-content-text i {
    margin: 30px 0;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 16px;
    color: #fff; }
  .settings-wrapper .settings-content-text .outlogged-text-box {
    width: 85%; }
    .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab {
      width: 100%;
      height: 60px;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 15px;
      box-sizing: border-box; }
      .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab .settings-left, .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab .settings-right {
        width: 40%;
        height: 100%;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize; }
      .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab .settings-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab .settings-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .settings-wrapper .settings-content-text .outlogged-text-box .settings-tab select {
        background: transparent;
        border: none;
        font-family: 'proxima';
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize;
        color: #fff; }

.settings-wrapper .fb-in-btn {
  position: absolute;
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  background: #3d589f;
  padding: 0 30px;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 22px;
  color: #fff; }

/* author Nisse Löfgren */
.feed .info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'proxima';
  font-weight: 300;
  font-size: 14px;
  color: #222222;
  background: #fff;
  width: 95%;
  height: 100%;
  margin: 0 auto; }
  .feed .info-box .company-title {
    font-family: 'proxima';
    font-weight: 300;
    font-size: 32px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .feed .info-box .company-desc {
    width: 70%;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222222; }
  .feed .info-box span {
    position: relative;
    width: 80%;
    margin: 20px 0 10px;
    height: 1px;
    background: #5b677b; }
  .feed .info-box .company-details {
    width: 80%;
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 14px; }
    .feed .info-box .company-details .details-tab {
      font-family: 'proxima';
      font-weight: 300;
      font-size: 18px;
      width: 100%;
      height: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .feed .info-box .company-details .details-tab .details-icon {
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 20px; }
        .feed .info-box .company-details .details-tab .details-icon i {
          font-size: 35px; }
    @media screen and (max-height: 570px) {
      .feed .info-box .company-details .details-tab {
        font-family: 'proxima';
        font-weight: 300;
        font-size: 14px; }
        .feed .info-box .company-details .details-tab .details-icon {
          margin-right: 10px; }
          .feed .info-box .company-details .details-tab .details-icon i {
            font-size: 25px; } }

.feed .categories-wrapper {
  width: 100%;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 4%; }
  .feed .categories-wrapper .category-box {
    position: relative;
    width: 172px;
    height: 172px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: 'proxima';
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .feed .categories-wrapper .category-box .box-img-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
      .feed .categories-wrapper .category-box .box-img-wrapper img {
        width: 100%;
        height: 100%;
        z-index: 1; }
    .feed .categories-wrapper .category-box p {
      font-family: 'proxima';
      font-weight: 300;
      font-size: 30px;
      color: #fff; }
  @media screen and (max-width: 380px) {
    .feed .categories-wrapper .category-box {
      width: 160px;
      height: 160px;
      margin-bottom: 12px; } }
  @media screen and (max-width: 360px) {
    .feed .categories-wrapper .category-box {
      margin-bottom: 8px; } }
  @media screen and (max-width: 340px) {
    .feed .categories-wrapper .category-box {
      width: 140px;
      height: 140px;
      margin-bottom: 8px; } }

/* author Nisse Löfgren */
p {
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

.pane {
  background: #ececec; }

::-webkit-scrollbar {
  display: none; }
