/* author Nisse Löfgren */
// Variables, fonts
@import 'tools/_var'
@import 'tools/_fonts'
@import 'tools/fontawesome/_font-awesome.min.css'

//Mixins
@import 'tools/_mixins'

//modules
@import 'tools/modules/_menubar'
@import 'tools/modules/_topbar'
@import 'tools/modules/_checkbox'
@import 'tools/modules/_hamburger'
@import 'tools/modules/_modal'


//Views
@import 'views/_main'
@import 'views/_search'
@import 'views/_favorites'
@import 'views/_settings'
@import 'views/_not-inlogged'
@import 'views/_company'
@import 'views/_categorys'
@import 'views/_feeditem'


p 
	margin: 0

a 
	text-decoration: none
	color: white

.pane
	// background: radial-gradient(at center bottom,     #181d28, #181d29)
	background: $white-bg
    


::-webkit-scrollbar 
	display: none
